{% extends "dream/layout.html" %}

{% block title %}All Dreams{% endblock %}

{% block body %}
    <div style="margin-top: 20px; font-family: 'Trebuchet MS', sans-serif;">
        <h2 style="color: #03376a; text-align: center;">All Dreams</h2>
        {% for dream in dreams %}
            <div style="border: 1px solid #300258; background-color: #f7e3fd; padding: 15px; border-radius: 10px; margin-bottom: 10px;">
                <h3>{{ dream.title }}</h3>
                <p><strong>Date:</strong> {{ dream.date }}</p>
                <p><strong>Description:</strong> {{ dream.description }}</p>
                <p><strong>Emotional State:</strong> {{ dream.get_emotional_state_display }}</p>
            </div>
        {% empty %}
            <p style="text-align: center;">No dreams to display.</p>
        {% endfor %}
    </div>
    

{% endblock %}